{% extends 'base.html.twig' %}


{% block body %}
<h1>About This Project</h1>

<p>
    This project is part of the course and focuses on creating a Blackjack 21 game.  
    The player can place bets, manage a balance, and play against the dealer.  
</p>

<p>
    The website has a separate style and navigation from the report site, to make it feel like a standalone project.
</p>

<a href="{{ path('proj_index') }}">Back to Project</a>
{% endblock %}
