{% extends 'base.html.twig' %}

{% block body %}
<h1>Drawn Card</h1>
{% if card %}
    <p>Card: <span class="card {{ card.color }}">{{ card.card }}</span></p>
{% else %}
    <p>No card drawn.</p>
{% endif %}
<a href="{{ path('card_index') }}">Back to Home</a>
{% endblock %}
