{% extends 'base.html.twig' %}

{% block title %}Draw a Card{% endblock %}

{% block body %}
<h1>Draget kort</h1>

{% if card is defined %}
    <p><span class="card {{ card.color }}">{{ card.card }}</span></p>
{% else %}
    <p>Inga kort kvar att dra!</p>
{% endif %}

<a href="{{ path('card_landing') }}">Tillbaka</a>
{% endblock %}
