{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
<h1>Session</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<pre>{{ dump(session) }}</pre>

<p><a href="{{ path('session_delete') }}">Delete session</a></p>
<p><a href="{{ path('card_start') }}">Back to homepage</a></p>
{% endblock %}
