{% extends 'base.html.twig' %}

{% block title %}Sessionkortlek{% endblock %}

{% block body %}
<h1>Session: nuvarande kortlek</h1>

{% if deck is not empty %}
    <ul>
        {% for card in deck %}
            <li><span class="card {{ card.color }}">{{ card.card }}</span></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ingen kortlek sparad i session.</p>
{% endif %}

<a href="{{ path('card_landing') }}">Tillbaka</a>
{% endblock %}
