{% extends 'base.html.twig' %}

{% block title %}Shuffled Deck{% endblock %}

{% block body %}
<h1>Blandad kortlek</h1>

<ul>
    {% for card in cards %}
        <li><span class="card {{ card.color }}">{{ card.card }}</span></li>
    {% endfor %}
</ul>

<a href="{{ path('card_landing') }}">Tillbaka</a>
{% endblock %}
