{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Vem är jag</h1>
    <P> Journalist var min drömyrke sedan jag var liten, att förmedla sanningen till verkligheten. När jag tittar på dagens nyheter märker jag att de inte alltid speglar exakt vad som händer i våra liv. Detta fick mig att börja utforska andra intressen. Kamar heter jag och bodde tidigare i Skåne innan jag flyttade till Karlskrona för mina studier.</p>

<p>En dag, medan jag sökte på nätet, hittade jag en onlinekurs som erbjöd grundläggande kunskaper om HTML, CSS och Javascript. Jag bestämde mig för att ge det en chans och anmälde mig till kursen. Det var otroligt roligt att lära mig HTML, skapa webbsidor och styla dem. Det var då jag insåg att jag hade funnit mitt nya intresse.</p>

<p>Om jag någonsin kände mig uttråkad, tog jag en kort promenad eller började springa.</p>

{% endblock %}
