{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2 id="kmom01"> kmom01 </h2>
<p>
Jag har tidigare erfarenhet av webbutveckling med JavaScript och PHP, vilket har gett mig en grundläggande förståelse för programmering och webbutveckling.</p>

<p>Att organisera klasser med namespaces och använda autoloading för att automatiskt ladda klassfiler bidrar till en bättre struktur och underhåll av kodbasen.
</p>

<p>TIL för detta kmom
Idag lärde jag mig om vikten av att följa MVC-arkitekturen för att organisera koden på ett strukturerat sätt och underlätta underhållet och utvecklingen av webbapplikationer i PHP.
</p>    
     

    <h2 id="kmom02"> kmom02 </h2>
{% endblock %}
