{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2 id="kmom01"> kmom01 </h2>
<p>
Jag har tidigare erfarenhet av webbutveckling med JavaScript och PHP, vilket har gett mig en grundläggande förståelse för programmering och webbutveckling.</p>

<p>Att organisera klasser med namespaces och använda autoloading för att automatiskt ladda klassfiler bidrar till en bättre struktur och underhåll av kodbasen.
</p>

<p>TIL för detta kmom
Idag lärde jag mig om vikten av att följa MVC-arkitekturen för att organisera koden på ett strukturerat sätt och underlätta underhållet och utvecklingen av webbapplikationer i PHP.
</p>    
     

    <h2 id="kmom02"> kmom02 </h2>
    <p>  Jag skapade ett kortspel med hjälp av Symfony, ett populärt verktyg för att bygga webbapplikationer. Mitt mål var att göra ett spel där användarna kan blanda, visa och dra kort från en digital kortlek.</p>
<p>
För att hantera korten utvecklade jag en del av programmet som kallas för Deck. Den här delen hjälpte till att skapa och hantera korten, som var designade med roliga symboler och färger för att göra dem lätta att känna igen.
</p>
<p>
Jag använde något som kallas sessions i Symfony för att komma ihåg kortleken medan spelarna spelar. Detta var viktigt för att spelet skulle fungera smidigt. 
För att visa korten använde jag Twig, ett verktyg från Symfony som gör det enkelt att skapa sidor som användarna ser och interagerar med.</p>

<p>Projektet hade några utmaningar, särskilt med att få allt att se bra ut på olika enheter och i olika webbläsare.
 Men att lösa dessa problem lärde mig mycket om hur man bygger robusta webbapplikationer.
 </p>
{% endblock %}
