{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ include('library/_form.html.twig') }}

    <a href="{{ path('library_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}